
@media screen and (max-width: 768px) {
    .title{
        font-size: 2em;
    }


/* SECTION HOME */
    #home h1 {
        font-size: 2em;
        text-align: center;
    }
    #home p {
        text-align: center;
        font-size: 1em;
    }
    #laptop{
        width: 300px;
        height: auto;
    }
    .icons-container{
        top: 50px;
        gap: 40px;   
    
        & a img {
            width: 30px;
            height: 30px;
        }
    }
/* SECTION SKILLS */
    .description-skills{
        padding: 0 10px;
        text-align: center;
    }

    #skills .description-skills> p {
        font-size: 1em;

    }

    .ico-skill{
        text-align: center;
    }

    .ico-skill > img{
        width: 45px;
        text-align: center;
    }


/* SECTION PROJECTS */
    .content-container > h2{
        height: 5%;
    }

    .description-project{
        gap: 15px;
        width: 100%;
    }

}

/*
TABLETS 
@media screen and (min-width: 768px) and (max-width: 992px){
    *{
        
}
} */