* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --bege: #ece0d0;
    --destaque: #f04452;
    /* --preto: #1d1d1d; */
    --preto: #4e4e4e;
}

.technologies{
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--preto);
    
}
.html{
    background-color: rgb(255, 159, 124);
}
.css{
    background-color: rgb(183, 177, 238);
}
.javascript{
    background-color: rgb(206, 206, 138);
}
.git{
    background-color: rgb(243, 196, 110);
}
.csharp{
    background-color: rgb(212, 160, 247);
}
.bootstrap{
    background-color: rgb(204, 165, 255);
}
.sqlserver{
    background-color: rgb(226, 226, 226);
}

body {
    background-color: var(--bege);
    
}

.title {
    color: var(--destaque);
    font-size: 3em;
    font-family: Franklin Gothic Heavy;
}

#home,
#skills,
#projects {
    width: 100vw;
    height: 100vh;
    width: 100%;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-home {
    display: grid;
    grid-template-areas:
        "dev            laptop"
        "description    laptop";
    justify-content: center;
    grid-row: auto-fit;
}

#home h1 {
    grid-area: dev;
    font-size: 4em;
    font-family: Franklin Gothic Heavy;
    max-width: 700px;
    color: var(--destaque);
    align-self: self-start;
}

#home p {
    padding: .2em;
    grid-area: description;
    font-size: 1.5em;
    font-family: Franklin Gothic Heavy;
    max-width: 550px;
    color: var(--preto);
}

#laptop-container {
    grid-area: laptop;
    position: relative;
}

#laptop {
    height: 300px;
    position: relative;
}

#icons-container {
    display: flex;
    position: absolute;
    top: 25%;
    gap: 80px;
    height: 200px;
    left: calc(50% - 60px);
}

#linkedin-ico,
#github-ico {
    position: absolute;
    width: 40px;
    height: 40px;
    animation: pulse 1.5s ease-in-out infinite;
}


/* SECTION SKILLS */

#skills {
    padding-top: 10px;
    width: 100%;
    background-color: var(--preto);
}

/* #skills> #description-skills > h2 {
    padding-left: 10%;
} */

#skills>#description-skills>p {
    /* padding-left: 10%; */
    padding-top: 20px;
    font-size: 1.5em;
    color: var(--preto);
    font-family: Franklin Gothic Heavy;
    color: var(--bege);
}

.ico-skill>p {
    color: var(--bege);
}

#description-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20%;
}

#content-skills {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-icons-skills {
    max-width: 900px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.legenda-ico {
    font-family: Franklin Gothic Heavy;
    color: var(--preto);
    margin-top: 10px;
    text-align: center;
}


/* PROJETOS */
#projects{
    padding: 0px 50px;
}
.title-project{
    color: var(--preto);
    font-size: 1.6em;    
}
#projects > h2{
    padding: 50px 0px;
    text-align: center;
}

#container-projetos{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#projects span>p{
    padding-top: 10px;
}
#img-project > img{
    border-radius: 15px;
    width: 500px;
    height: 300px;
    border: 2px solid var(--preto);
    background-size: cover;
    background-position: center;
}
.card{
    display: flex;
    flex-direction: row;
}

#description-project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    max-width: 700px;
}

.description-text p {
    line-height: 1.6; 
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}






@media screen and (max-width: 992px) {

    #home,
    #skills,
    #projects {
        width: 100vw;
        height: 100vh;
        width: 100%;
    }

    #container-home {
        width: 100%;
        padding: 5px;

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "dev"
            "description"
            "laptop";
        text-align: center;
        justify-items: center;
        width: 100%;
    }

    #home h1 {
        padding: .3em;
        font-size: 2em;
    }

    #home p{
        padding: .8em;
        font-size: .8em;
        max-width: 700px !important;
    }

    #laptop {
        width: 350px;
        height: auto;
    }

    #linkedin-ico,
    #github-ico {
        position: absolute;
        width: 35px;
        height: 35px;
    }


    /* SECTION SKILLS */
    .title{
        font-size: 2em;
    }

    #description-skills > p {
        text-align: center;
        padding: 5px;
        font-size: 16px !important;
    } 

    #skills  img{
        width: 60px;
        height: auto;
    }

    .ico-skill > p {
        text-align: center;
        font-size: 12px;
    }

    .container-icons-skills {
        padding: 5px;
        gap: 50px;
    }


    /* SECTION PROJECT */
    #projects{
        padding: 1em;
    }

    .card{
        flex-wrap: wrap;
        justify-content: center;
    }

    .card img{
        background-size: cover;
        width: 100% !important;
    }


}

/* ANIMATIONS */

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}