* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --bege: #ece0d0;
    --destaque: #f04452;
    /* --preto: #1d1d1d; */
    --preto: #4e4e4e;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container{
    width: 100%;
    max-width: 1200px;
}

#home,
#skills,
#projects {
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--bege);
    
}

/* SECTION HOME */
.title {
    color: var(--destaque);
    font-size: 3em;
    font-family: Franklin Gothic Heavy;
}

.presentation-home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 10px;
    max-width: 1100px;
    width: 100%;
    height: 100%;
}

.left-home-presentation{
    display: flex;
    flex-direction: column;
    flex:1;
    max-width: 100%;
    min-width: 400px;
}

.right-home-presentation{
    position: relative;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
}

#laptop {
    width: 400px;
    height: auto;
}

#home h1 {
    word-break: normal;
    font-size: 3em;
    font-family: Franklin Gothic Heavy;
    max-width: 600px;
    min-width: 300px;
    color: var(--destaque);
    align-self: self-start;
}

#home p {
    padding: .2em;
    font-size: 1.5em;
    font-family: Franklin Gothic Heavy;
    color: var(--preto);
}



.icons-container{
    position: absolute;
    display: flex;
    top: 65px;
    gap: 40px;   

    & a img {
        width: 40px;
        height: 40px;
        animation: pulse 1.5s ease-in-out infinite;
    }
}


/* SECTION SKILLS */
#skills {
    background-color: var(--preto);
}

.description-skills{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 20%;
    gap: 15px;
    align-items: center;
}
.container-icons-skills {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   height: 80%;
}

#skills .description-skills> p {
    font-size: 1.5em;
    color: var(--preto);
    font-family: Franklin Gothic Heavy;
    color: var(--bege);
}

.cont-container-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ico-skill{
    margin: 30px;
    & p {
        color: var(--bege);
        font-family: Franklin Gothic Heavy;
        margin-top: 10px;
        text-align: center;
    }
}




/* PROJETOS */

.content-container > h2{
    display: flex;
    align-items: center;
    height: 20%;
    justify-content: center;
}
.title-project{
    color: var(--preto);
    font-size: 1.6em;    
}

.container-projetos{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    padding: 0 10px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 50px;
}


.description-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px; */
    min-width: 300px;
    width: 50%;
}

#projects span>p{
    padding-top: 10px;
    color: black;
}
.img-project > img{
    border: 2px solid var(--preto);
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    border-radius: 15px;
    object-fit: cover;
    background-position: center;
}

.description-text p {
    line-height: 1.6; 
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

/* ESTILIZAÇÃO DOS ICONES */
.technologies{
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--preto);    
}

.html{
    background-color: rgb(255, 159, 124);
}
.css{
    background-color: rgb(183, 177, 238);
}
.javascript{
    background-color: rgb(206, 206, 138);
}
.git{
    background-color: rgb(243, 196, 110);
}
.csharp{
    background-color: rgb(212, 160, 247);
}
.bootstrap{
    background-color: rgb(204, 165, 255);
}
.sqlserver{
    background-color: rgb(226, 226, 226);
}





/* ANIMATIONS */

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}