* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --bege: #ece0d0;
    --destaque: #f04452;
    /* --preto: #1d1d1d; */
    --preto: #4e4e4e;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container{
    display: flex;
    width: 100%;
    max-width: 1200px;
}


#home,
#skills,
#projects {
    width: 100%;
    height: 100vh;
}



/* ESTILIZAÇÃO DOS ICONES */
.technologies{
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--preto);    
}

.html{
    background-color: rgb(255, 159, 124);
}
.css{
    background-color: rgb(183, 177, 238);
}
.javascript{
    background-color: rgb(206, 206, 138);
}
.git{
    background-color: rgb(243, 196, 110);
}
.csharp{
    background-color: rgb(212, 160, 247);
}
.bootstrap{
    background-color: rgb(204, 165, 255);
}
.sqlserver{
    background-color: rgb(226, 226, 226);
}

body {
    background-color: var(--bege);
    
}

/* SECTION HOME */
.title {
    color: var(--destaque);
    font-size: 3em;
    font-family: Franklin Gothic Heavy;
}

.presentation-home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
}

.left-home-presentation{
    display: flex;
    flex-direction: column;
    max-width: 650px;
}
.right-home-presentation{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1 {
    font-size: 4em;
    font-family: Franklin Gothic Heavy;
    max-width: 700px;
    color: var(--destaque);
    align-self: self-start;
}

#home p {
    padding: .2em;
    grid-area: description;
    font-size: 1.5em;
    font-family: Franklin Gothic Heavy;
    max-width: 550px;
    color: var(--preto);
}


#laptop {
    height: 300px;
    width: auto;
}

.icons-container{
    position: absolute;
    display: flex;
    top: 65px;
    gap: 40px;   

    & a img {
        width: 40px;
        height: 40px;
        animation: pulse 1.5s ease-in-out infinite;
    }
}





/* SECTION SKILLS */
#skills {
    background-color: var(--preto);
}



#skills>#description-skills>p {
    padding-top: 20px;
    font-size: 1.5em;
    color: var(--preto);
    font-family: Franklin Gothic Heavy;
    color: var(--bege);
}

.ico-skill>p {
    color: var(--bege);
}





.container-icons-skills {
    max-width: 900px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.legenda-ico {
    font-family: Franklin Gothic Heavy;
    color: var(--preto);
    margin-top: 10px;
    text-align: center;
}


/* PROJETOS */
#projects{
}
.title-project{
    color: var(--preto);
    font-size: 1.6em;    
}
#projects > h2{
    padding: 50px 0px;
    text-align: center;
}

#container-projetos{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


#projects span>p{
    padding-top: 10px;
    color: black;
}
#img-project > img{
    border-radius: 15px;
    width: 500px;
    height: 300px;
    border: 2px solid var(--preto);
    background-size: cover;
    background-position: center;
}
.card{
    display: flex;
    flex-direction: row;
}

.description-project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    max-width: 700px;
}

.description-text p {
    line-height: 1.6; 
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}






@media screen and (max-width: 992px) {

}

/* ANIMATIONS */

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}