* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --bege: #ece0d0;
    --destaque: #f04452;
    /* --preto: #1d1d1d; */
    --preto: #4e4e4e;
}


body {
    background-color: var(--bege);
}

.title {
    color: var(--destaque);
    font-size: 3em;
    font-family: Franklin Gothic Heavy;
}

#home,
#skills,
#projects {
    width: 100vw;
    height: 100vh;
    width: 100%;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-home {
    display: grid;
    grid-template-areas:
        "dev            laptop"
        "description    laptop";
    justify-content: center;
    grid-row: auto-fit;
}

#home h1 {
    grid-area: dev;
    font-size: 4em;
    font-family: Franklin Gothic Heavy;
    max-width: 700px;
    color: var(--destaque);
    align-self: self-start;
}

#home p {
    padding: .2em;
    grid-area: description;
    font-size: 1.5em;
    font-family: Franklin Gothic Heavy;
    max-width: 550px;
    color: var(--preto);
}

#laptop-container {
    grid-area: laptop;
    position: relative;
}

#laptop {
    height: 300px;
    position: relative;
}

#icons-container {
    display: flex;
    position: absolute;
    top: 25%;
    gap: 80px;
    height: 200px;
    left: calc(50% - 60px);
}

#linkedin-ico,
#github-ico {
    position: absolute;
    width: 40px;
    height: 40px;
}


/* SECTION SKILLS */

#skills {
    padding-top: 10px;
    width: 100%;
    background-color: var(--preto);
}

/* #skills> #description-skills > h2 {
    padding-left: 10%;
} */

#skills>#description-skills>p {
    /* padding-left: 10%; */
    padding-top: 20px;
    font-size: 1.5em;
    color: var(--preto);
    font-family: Franklin Gothic Heavy;
    color: var(--bege);
}

.ico-skill>p {
    color: var(--bege);
}

#description-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20%;
}

#content-skills {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-icons-skills {
    max-width: 900px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.legenda-ico {
    font-family: Franklin Gothic Heavy;
    color: var(--preto);
    margin-top: 10px;
    text-align: center;
}





@media screen and (max-width: 992px) {

    #home,
    #skills,
    #projects {
        width: 100vw;
        height: 100vh;
        width: 100%;
    }

    #container-home {
        width: 100%;
        padding: 5px;

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "dev"
            "description"
            "laptop";
        text-align: center;
        justify-items: center;
        width: 100%;
    }

    #home h1 {
        padding: .3em;
        font-size: 2em;
    }

    #home p{
        padding: .8em;
        font-size: .8em;
        max-width: 700px !important;
    }

    #laptop {
        width: 350px;
        height: auto;
    }

    #linkedin-ico,
    #github-ico {
        position: absolute;
        width: 35px;
        height: 35px;
    }


    /* SECTION SKILLS */
    .title{
        font-size: 2em;
    }

    #description-skills > p {
        text-align: center;
        padding: 5px;
        font-size: 16px !important;
    } 

    #skills  img{
        width: 60px;
        height: auto;
    }

    .ico-skill > p {
        text-align: center;
        font-size: 12px;
    }

    .container-icons-skills {
        padding: 5px;
        gap: 50px;
    }
}