*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.quadro{
    border: 3px solid black;
}

#about-me{
    background-color: #2d2c2d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#page1{
    background-color: #eee;
    width: 50%;
    max-width: 800px;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

#quadro-superior{
    height: 300px;
    background-image: url(gif/programing\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(80%);
}

#text-about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#description{
    font-weight: 600;
}

#text-developer{
    display: grid;
    width: 40px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'desenvolvedor desenvolvedor'
    'de software'
    ;
    font-weight: bolder;
}

#txt-desenvolvedor{
    grid-area: desenvolvedor;
    font-size: 32px;
    /* background-color: blue; */
}
#txt-de{
    grid-area: de;
    writing-mode: vertical-lr;
    font-size: 28px;
    /* background-color: red; */
    align-self: center;
}

#txt-software{
    grid-area: software;
    font-size: 45px;
    /* background-color: green; */
}

#quadro-inferior{
    height: 250px;
    background-image: url(gif/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -30px;
    filter: grayscale(30%);

}













.card{
    margin-top: 20px;
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    animation: ease-in;
}

.img-card{
    border-radius: 10px 10px 0px 0px;
    height: 300px ;
    width: 250px ;
}

.footer-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnologias{
    box-shadow: 0px 0px 4px rgba(141, 141, 141, 0.5);
    margin: 1px 2px;
    padding: .0px 3px;
    border-radius: 8px;
    font-size: .8em;
}